@charset "UTF-8";

// Summary
details {
	@include margin($half-spacing 0);
	background: lighten($color-light-grey, 5%);

	p {
		@include padding($half-spacing);
	}

	summary {
    @include padding($half-spacing);
    @include icon-before($icon-chevron-down);
    display: inline-block;
		width: 100%;
		background: $color-grey;
		outline: none;
		color: $color-white;

    // Hide the Default Marker
    &::-webkit-details-marker {
    	display: none;
    }
  }

  &[open] summary {
  	@include icon-before($icon-chevron-up);
  }
}
