// Blend Mode
@mixin blend-mode($img, $color: null, $grad: null, $blend: multiply) {
  $img-path: url('#{$img}');
  @if $grad {
    background: $grad, $img-path;
  } @else {
    background-image: $img-path;
    background-color: $color;
  }
  background-blend-mode: $blend;
}

// How to use
// .blend {
//   @include blend-mode("http://sassbreak.com/assets/mountains.jpg", $grad: $cool-grad);
// }

//Blend mode options --------------------------
// multiply
// screen
// overlay
// darken
// lighten
// color-dodge
// color-burn
// hard-light
// soft-light
// difference
// exclusion
// hue
// saturation
// color
// luminosity
