// Responsive images mixin
@mixin responsive-image($position: 50% 50%, $w: 1800, $h: 100%, $radius: 0) {
  @include size($w, $h);
  object-fit: cover;
  object-position: $position;
  border-radius: $radius;
  overflow: hidden;
}

@mixin image-rounded {
  @include border-radius;
}

@mixin image-circular {
  @include border-radius(50%);
}

@mixin image-bordered {
  border: $half-spacing solid $color-white;

  @include media($mobile){
    border: none;
  }
}

@mixin image-shadowed {
  box-shadow: 0 0 5px -2px rgba($color-black, .6);
}
