@mixin push {
  float: right !important;
  margin-right: 0;

  @include media($mobile) {
    float: none !important;
  }
}

@mixin pull {
  float: left !important;
  margin-left: 0;

  @include media($mobile) {
    float: none !important;
  }
}

.push {
  @include push;
}

.pull {
  @include pull;
}

.tablet-push {
  @include media($tablet) {
    @include push;
  }
}

.tablet-pull {
  @include media($tablet) {
    @include pull;
  }
}
