// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow($w: 100%, $overflow: ellipsis) {
  max-width: $w;
  overflow: hidden;
  text-overflow: $overflow;
  white-space: nowrap;
  word-wrap: normal;
}
