/* ==========================================================================
    Pool -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.pool {
  background: rgba(0, 0, 0, 0.035);
}
.ie .pool {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#09000000, endColorstr=#09000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#09000000,endColorstr=#09000000);
  zoom: 1;
}
@media (max-width: 40em) {
  .pool .holder {
    border: none;
  }
}
.pool h1 {
  text-align: center;
}
.pool .half {
  text-align: center;
}
.pool .half:first-child {
  border-right: 1px solid #cccccc;
}
.pool .formitem {
  margin-bottom: .5em;
}
.pool .matches {
  margin-bottom: 1em;
}
.pool .matches li {
  margin-bottom: 1em;
  border-radius: 5px 5px 0 0;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 0 white;
}
.pool .matches input ~ label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 100%;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background-color: #eaeaea;
  font-weight: bold;
  vertical-align: middle;
  line-height: 48px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 40em) {
  .pool .matches input ~ label {
    line-height: normal;
  }
}
.pool .matches input ~ label:before, .pool .matches input ~ label:after {
  content: none;
}
@media (max-width: 40em) {
  .pool .matches input ~ label img {
    display: block;
    float: none !important;
    height: 40px;
    margin: 0 auto;
  }
}
.pool .matches input:checked ~ label {
  background: rgba(62, 182, 51, 0.25);
  font-weight: 700;
  color: #308e28;
}
.ie .pool .matches input:checked ~ label {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#403EB633, endColorstr=#403EB633)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#403EB633,endColorstr=#403EB633);
  zoom: 1;
}
.pool .matches input.radio:empty ~ label {
  text-indent: 0;
}
.pool .matches .total_score, .pool .matches input.total_score {
  display: block;
  margin: .5em auto;
  text-align: center;
}
.pool .matches input.total_score {
  width: 100px;
}
.pool .matches .location {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border-top: 1px solid #cccccc;
  background-color: #0099ed;
  color: white;
  text-align: center;
}
