
    <hr>

    <div class="container">

      <h6>CHANGELOG</h6>
      <ul>
        <li>
          <b>Version {{ site.version }}</b>
          <br><br>
          <ul>
            {% for change in site.data.changelog %}
            <li><span class="pill-success">{{ change.version }}</span> {{ change.description }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>

      </div>

    <hr>

    <!-- Footer Component -->
    <footer class="container" role="contentinfo">

      <span class="small-body-text">&copy; <span id="year" class="getYear">year</span> <a href="/">officefootball.club</a></span>

    </footer>
    <!-- ./Footer Component -->

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_version }}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-{{ site.jquery_version}}.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/js/build/production.min.js"></script>

    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}

  </body>
</html>
