
    <hr>

    <!-- Footer Component -->
    <footer class="container" role="contentinfo">

      <span class="small-body-text">&copy; <span id="year" class="getYear">year</span> <a href="/">officefootball.club</a></span>

    </footer>
    <!-- ./Footer Component -->

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_version }}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-{{ site.jquery_version}}.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/js/production.min.js"></script>

    <script data-cfasync="false" type="text/javascript">
jQuery( document ).ready(function( $ ) {
  // variable to hold request
  var request;
  // bind to the submit event of our form
  $("#weekly").submit(function(event){
    // abort any pending request
    if (request) {
      request.abort();
    }
    // setup some local variables
    var $form = $(this);
    // let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");
    // serialize the data in the form
    var serializedData = $form.serialize();

    // let's disable the inputs for the duration of the ajax request
    // Note: we disable elements AFTER the form data has been serialized.
    // Disabled form elements will not be serialized.
    $inputs.prop("disabled", true);
    $('#result').text('Sending data...');

    // fire off the request to /form.php
    request = $.ajax({
      // url: "https://script.google.com/macros/s/AKfycbzV--xTooSkBLufMs4AnrCTdwZxVNtycTE4JNtaCze2UijXAg8/exec", // works
      url: "https://script.google.com/a/macros/maxquattromani.com/s/AKfycbztNtGfC_CMv5v9ea9OP6F0BUe6GYiYZ-WVgkLxp2I957nSgoo/exec",  // clone
      type: "post",
      data: serializedData
    });

    // callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
      // log a message to the console
      console.log(response, textStatus, jqXHR);
      $('#result').html('<a href="https://docs.google.com/spreadsheets/d/10tt64TiALYhPMqR2fh9JzkuhxW7oC0rXXPb_pmJ7HAY/edit?usp=sharing" target="_blank">Success - see Google Sheet</a>');
      console.log("Hooray, it worked!");
    });

    // callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
      // log the error to the console
      console.error(
        "The following error occured: "+
        textStatus, errorThrown
      );
    });

    // callback handler that will be called regardless
    // if the request failed or succeeded
    request.always(function () {
      // reenable the inputs
      $inputs.prop("disabled", false);
    });

    // prevent default posting of form
    event.preventDefault();
  });
});
</script>


    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}

  </body>
</html>
