<nav role="navigation">
  <div class="container">
    <img class="logo" src="/images/logo.svg" alt="">
    <div class="row">
      <div class="third">
        <a class="btn btn-primary full" href="/how-to-play"><i class="fa fa-file-text-o fa-lg"></i> How to Play</a>
      </div>
      <div class="third">
        <a class="btn btn-primary full second" href="/"><i class="fa fa-home fa-lg"></i> Home</a>
      </div>
<!--       <div class="third">
        <a class="btn btn-primary full second" href="/scores"><i class="fa fa-th-large fa-lg"></i> Scores</a>
      </div> -->
      <div class="third">
        <a class="btn btn-primary full second" href="/leaderboard"><i class="fa fa-trophy fa-lg"></i> Leaderboard</a>
      </div>
    </div>
  </div>
</nav>

