<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul>
    <li>
      <a itemprop="url" class="btn" href="/"><span itemprop="name">Play</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn view-picks" href="https://docs.google.com/spreadsheets/d/1_w6b0iUDaUbKD6qLD52BcRG1pIMh90P-Av4o0w5TAB8/pubhtml" target="_blank" rel="noopener noreferrer"><span itemprop="name">View Picks</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn" href="/leaderboard"><span itemprop="name">Leaderboard</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn" href="/scores"><span itemprop="name">Scores</span></a>
    </li>
  </ul>
</nav>
<!--/.site-navigation -->
