<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul>
    <li>
      <a itemprop="url" class="btn" href="/"><span itemprop="name">Picks</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn" href="/how-to-play"><span itemprop="name">How to Play</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn" href="/leaderboard"><span itemprop="name">Leaderboard</span></a>
    </li>
    <li>
      <a itemprop="url" class="btn" href="/smack-talk"><span itemprop="name">Smack!</span></a>
    </li>
  </ul>
</nav>
<!--/.site-navigation -->
