// Footer
$footer-bg: $color-white;
$footer-bg-img: null;
$footer-border-color: #e1e1e1;
$footer-font-size: 12;
$footer-link-font-weight: 200;
$footer-text-color: $color-brand-primary;
$footer-link-color: $color-brand-primary;
$footer-link-color-hover: $color-brand-primary;
$footer-link-text-decoration-hover: underline;
$footer-hours-bg: $color-brand-quaternary;
