// Mistakes
$find-mistakes: false;

// Support IE8/IE9
$support-legacy: true;

// this variable will keep content inside the container if false,
// otherwise certain elements that would go full-dith
$full-width-elements: false;
