// Social Media
$twitter-link-color: #00aced !default !default;
$twitter-color-alt: #b8dcee !default;
$twitter-link-color-hover: $twitter-link-color !default;

$facebook-link-color: #3b5998 !default;
$facebook-color-alt: #cad3eb !default;
$facebook-link-color-hover: $facebook-link-color !default;

$snapchat-link-color: #fffc00 !default !default;
$snapchat-color-alt: #c90 !default;
$snapchat-link-color-hover: $snapchat-link-color !default;

$youtube-link-color: #db1117 !default;
$youtube-link-color-hover: $youtube-link-color !default;

$pinterest-link-color: #cb2027 !default;
$pinterest-link-color-hover: $pinterest-link-color !default;

$instagram-link-color: #ba5915 !default;
$instagram-link-color-hover: $instagram-link-color !default;

$github-link-color: #4183c4 !default;
$github-link-color-hover: $github-link-color !default;

$codepen-link-color: $color-white !default;
$codepen-link-color-hover: $codepen-link-color !default;

$dribbble-link-color: #ea4c89 !default;
$dribbble-link-color-hover: $dribbble-link-color !default;

$linkedin-link-color: #007bb6 !default;
$linkedin-link-color-hover: $linkedin-link-color !default;

$mobile-link-color: #ba5915 !default;
$mobile-link-color-hover: $mobile-link-color !default;

$calendar-link-color: $color-brand-primary !default;
