// Spacing
$base-spacing: 2rem;
$half-spacing: ($base-spacing / 2);
$third-spacing: ($base-spacing / 3);
$fourth-spacing: ($base-spacing / 4);
$fifth-spacing: ($base-spacing / 5);
$sixth-spacing: ($base-spacing / 6);
$eighth-spacing: ($base-spacing / 8);
$sixteenth-spacing: ($base-spacing / 16);
$one-and-half-spacing: ($base-spacing * 1.5);
$three-fourths-spacing: ($base-spacing * .75);
$double-spacing: ($base-spacing * 2);
$triple-spacing: ($base-spacing * 3);
