// Team Colors
$teams: (
  Falcons: #BD0D18,
  ATL: #BD0D18,
  Bills: #00338D,
  BUF: #00338D,
  Bears: #DD4814,
  CHI: #DD4814,
  Bengals: #FB4F14,
  CIN: #FB4F14,
  Browns: #FE3C00,
  CLE: #FE3C00,
  Cowboys: #b0b7bc,
  DAL: #b0b7bc,
  Broncos: #FB4F14,
  DEN: #FB4F14,
  Lions: #b0b7bc,
  DET: #b0b7bc,
  Packers: #203731,
  GB: #203731,
  Titans: #4b92db,
  TEN: #4b92db,
  Colts: #003B7B,
  IND: #003B7B,
  Chiefs: #B20032,
  KC: #B20032,
  Raiders: #000,
  OAK: #000,
  Rams: #13264B,
  LA: #13264B,
  Dolphins: #008D97,
  MIA: #008D97,
  Vikings: #3B0160,
  MIN: #3B0160,
  Patriots: #0D254C,
  NE: #0D254C,
  Saints: #D2B887,
  NO: #D2B887,
  Giants: #192F6B,
  NYG: #192F6B,
  Jets: #0C371D,
  NYJ: #0C371D,
  Eagles: #003B48,
  PHI: #003B48,
  Cardinals: #97233f,
  ARI: #97233f,
  Steelers: #000,
  PIT: #000,
  Chargers: #0C2340,
  SD: #0C2340,
  '49ers': #AF1E2C,
  SF: #AF1E2C,
  Seahawks: #69BE28,
  SEA: #69BE28,
  Buccaneers: #D60A0B,
  TB: #D60A0B,
  Redskins: #773141,
  WAS: #773141,
  Panthers: #0088CE,
  CAR: #0088CE,
  Jaguars: #D7A22A,
  JAX: #D7A22A,
  Ravens: #280353,
  BAL: #280353,
  Texans: #02253A,
  HOU: #02253A
);
