// Team Colors
$teams: (
  Falcons: #BD0D18,
  Bills: #00338D,
  Bears: #DD4814,
  Bengals: #FB4F14,
  Browns: #FE3C00,
  Cowboys: #0D254C,
  Broncos: #FB4F14,
  Lions: #006DB0,
  Packers: #203731,
  Titans: #648FCC,
  Colts: #003B7B,
  Chiefs: #B20032,
  Raiders: #000,
  Rams: #13264B,
  Dolphins: #008D97,
  Vikings: #3B0160,
  Patriots: #0D254C,
  Saints: #D2B887,
  Giants: #192F6B,
  Jets: #0C371D,
  Eagles: #003B48,
  Cardinals: #97233f,
  Steelers: #FFB612,
  Chargers: #0C2340,
  '49ers': #AF1E2C,
  Seahawks: #69BE28,
  Buccaneers: #D60A0B,
  Redskins: #773141,
  Panthers: #0088CE,
  Jaguars: #006778,
  Ravens: #280353,
  Texans: #02253A
);
