// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Nav -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    nav {
      padding: 1em 0;
      border-bottom: 1px solid $color-grey;
      background-color: $color-white;

      .container {
        display: table;
        width: 100%;
      }

      .logo {
        margin-bottom: $padding;
      }

      @include bp(bp-small) {
        .second {
          margin-top: 1em;
        }
      }
    }
