@charset "UTF-8";

.scoreboard {
  .scores {
    > table {
      margin-bottom: $fourth-spacing;
    }
  }

  table {
    display: table;
    width: 100%;

    table {
      @include margin;
      @include padding;
    }

    @include media($mobile) {
      width: 100%;
    }

    tr {
      display: table-row;
      width: 100%;
      vertical-align: middle;

      tr {
        @include padding($half-spacing);
      }
    }

    td {
      @include margin;
      @include padding;
      @include font-size(20);
      display: table-cell;
      width: auto;
      min-height: 90px;
      @each $team, $color-value in $teams {
        &[data-team='#{$team}'] {
          background-color: $color-value;
          color: $color-white;
        }
      }
      text-align: center;
      color: $color-white;
      text-transform: uppercase;
      vertical-align: middle;

      &.scores-team {
        width: 50%;
      }

      img {
        @include padding($half-spacing);
        width: 70px;

        @include media($mobile) {
          @include padding($half-spacing $fourth-spacing);
          width: auto;
          max-width: 50px;
          height: auto;
          max-height: 50px;
        }
      }

      .score {
        @include padding(0 $half-spacing);
        @include font-size(40);

        @include media($mobile) {
         @include font-size(20);
       }
     }
   }
 }
}
