@charset "UTF-8";

// Base Links
a {
  @include transition;
  background-color: transparent;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: $base-link-weight;
  // Was a font specified for links?
  @if variable-exists(base-link-font-family) {
    font-family: ($base-link-font-family);
  }
  color: $base-link-color;
  // Does a standard link have an underline?
  @if $base-link-text-decoration {
    text-decoration: $base-link-text-decoration;
  }

  img {
    border: 0 none;
    text-decoration: none;
  }

  &:hover {
    color: $base-link-color-hover;
    // Does a standard link have an underline on hover?
    @if $base-link-text-decoration-hover {
      text-decoration: $base-link-text-decoration-hover;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline-width: 0;
  }
}
