@charset "UTF-8";

// Mrec's
.component-mrec {
  @include outer-container;
  margin-bottom: $base-spacing;

  .mrec-1,
  .mrec-2,
  .mrec-3, {
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .mrec-3 {
    @include omega();
  }

  figure {
    margin: 0 auto;

    figcaption {
      @include margin($base-spacing);
      @include padding($base-spacing);
      position: absolute;
      bottom: 0;
      width: calc(100% - 2em);
      background: rgba($color-brand-senary, .9);

      @include media($mobile) {
        @include margin(0);
        position: relative;
        width: 100%;
      }

      span {
        @include font-family($heading-font-family);
        @include font-size(22);
        display: inline-block;
        color: $color-white;
      }
    }

    img {
      display: inline-block;
      margin-right: $base-spacing;
      vertical-align: middle;

      @include media($mobile) {
        display: block;
        height: 0;
      }
    }

    &:hover {
      figcaption {
        background: rgba($color-brand-primary, .9);
      }
    }
  }
}
