@charset "UTF-8";

// Typography
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote {
  clear: inherit;
  margin-bottom: .3333em; // Intentional em usage
  vertical-align: middle;
}

p,
.p {
	margin-bottom: 1em;
  font-family: $base-font-family;
  word-wrap: break-word;
  font-weight: $base-font-weight;

  &:last-child {
    margin-bottom: 0;
  }
}

i {
  font-style: normal;
}

code {
  @include padding($eighth-spacing $fourth-spacing);
  @include border-radius(5px);
  @include font-size(14);
  background-color: $color-white;
  color: $color-primary-blue;
  text-transform: lowercase;
}

blockquote {
  width: 75%;
  padding-left: $base-spacing;
  border-left: 3px solid currentColor;
  font-style: italic;
  color: tint($base-font-color, 20%);
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

abbr {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}

address {
  margin-bottom: $base-spacing;
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

sub,
sup {
  font-size: $sup-font-size;
  line-height: 0;
  position: relative;
}

mark {
  background: $info-bg;
  color: $info-color;
}
